body {
  margin: 0;
  padding: 0;
}

div {
  text-align: center;
  background-color: #121212;
  height: 100vh;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  background-color: #1e1e1e;
  box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 80px;
  font-weight: bold;
  font-family: "Bebas Neue", sans-serif;
  color: #f5f5f5;
}

p {
  font-size: 35px;
  color: #cccccc;
  font-family: "Roboto", sans-serif;
}

button {
  font-family: "Poppins", sans-serif;
  width: 250px;
  height: 80px;
  background-color: #3a7ca5;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 165px;
}

button:hover {
  background-color: #335f8a;
}
